<!DOCTYPE html>
<html>
<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
		<base target="_parent" />

</head>
<body width="598 px" height="286px">
<div id="gaming_news_style">
<div style="position: relave; height: 3px;"></div>


<a href="#"><div id="gaming_news_button"> 
<div id="gaming_news_image"><img src="http://leaguepedia.com/images/thumb/e/e3/IPL5_Logo.png/267px-IPL5_Logo.png" width="42" height="42"></div>

<div id="gaming_news_content">
Leenock defeats Violet 3-2 to win IPL5!
</div>

</div></a>




<a href="#"><div id="gaming_news_button"> 


</div></a>




<a href="#"><div id="gaming_news_button"> 


</div></a>




<a href="#"><div id="gaming_news_button"> 


</div></a>




<a href="#"><div id="gaming_news_button">


</div></a>




<a href="#"><div id="gaming_news_button">


</div></a>


</div>
</body>


</html> 