<html>

<head>
		<link type="text/css" rel="stylesheet" href="/static/main.css" />
</head>

<body>

<div id="wrapper">
<div class="banner">
	<a href="/"><div class="logo"></div></a>
	<a href="/login"><div class="login_button"></div></a>
	<a href="/register"><div class="register_button"></div></a>
</div><!--End of the Banner-->
<div id="center_login">

<div class="login_box2">
<div class="login_form">
<form method="post">
<table>
<tr>
<td>Username: </td><td><input type="text" name="username"/></td>
</tr>
<tr>
<td> Password: </td> <td><input type="password" name="password"/></td>
</tr>
<tr>
<td><input type="submit" value="Login"/></td><td><font style="color:red;">{{error}}</font></td>
</tr>
</table>
</form>
<div style="color: blue;"><a href="#"><font size=2">Forgot your password?</font></a><br><a href="/register"><font size="2">Not a user? Register here.</font></a></div>
</div><!--End of the Login_Form-->
</div><!--End of the Login_Box2-->

</div><!--End of the Center Index-->
<div id="footer">
<center>
<table>
<tr>
<td><font style="color: red;">About SuiteGamer</font></td><td><font style="color: red;">About SuiteGamer</font></td><td><font style="color: red;">About SuiteGamer</font></td><td><font style="color: red;">About SuiteGamer</font></td>
</tr>
<tr>
<td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td>
</tr>
<tr>
<td><font size="2" style="color: white;"><a href="">Terms of Use</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td>
</tr>
<tr>
<td><font size="2" style="color: white;"><a href="">FAQ</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td>
</tr>
<tr>
<td><font size="2" style="color: white;"><a href="">Privacy Policy</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td>
</tr>
<tr>
<td><font size="2" style="color: white;"><a href="">Register</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td><td><font size="2" style="color: white;"><a href="">Contact Us</a></font></td>
</tr>
</table>

</center>
<br><br>
<center><font size="3" style="color: white;">Copyright &#169; 2012. SuiteGamer.com. All rights reserved. </font></center>
</div><!--End of the Footer-->
</div><!--End of the Wrapper-->
</body>

</html>